<div class="myWidget">
	<h1>Admin Decision Service Report</h1>
	<ul>
		<li><span class="key">Rules count:</span><span class="value">${numberofrules}</span></li>
		<li><span class="key">Ruleflows count:</span><span class="value">${numberofruleflows}</span></li>
		<li><span class="key">Deployment configurations count:</span><span class="value">${numberofdeploymentconfigurations}</span></li>
		<li><span class="key">Operations count:</span><span class="value">${numberofoperations}</span></li>
		<li><span class="key">Test suites count:</span><span class="value">${numberoftestsuites}</span></li>
		<li><span class="key">Simulations count:</span><span class="value">${numberofsimulations}</span></li>
	</ul>
</div>